#activities {
	
	.panel {
		.panel-title {
			font-size: 14px;
		}

		.panel-body {
			max-height: 250px;
			overflow: auto;

			.wrapper {
				.activity {
					border-bottom: 1px solid $darkgrey;
					padding: 5px 2px;

					&:last-child {
						border-bottom: none;
					}

					.message {
						font-size: 12px;
					}

					.date {
						font-size: 10px;
					}

					.col-md-3, .col-xs-3 {
						text-align: right;
					}

					@media screen and (max-width: 768px) {
						.col-md-3, .col-xs-3 {
							text-align: left;
						}
					}
				}

			}



		}


	}
}