@import "/assets/fonts/Raleway/stylesheet.css";

.messages-users-wrapper,
.messages-body-wrapper {
	max-height: 600px;
	min-height: 600px;
	padding: 5px;
	border: 1px solid #ff8a00;
}
.message-body.mention {
	min-height: 100px;
	resize: none;
}
.file-notif {
	margin-right: 5px;
	/*font-weight: bold;*/
	font-family: "Raleway";
}
/* override dlmenu */
.dl-menuwrapper .dl-menu {
	margin: 5px 0 0 0 !important;
}
.refresh > img{
	width: 25px;
	height: auto;
}
.refresh {
	line-height: 2;
}

.dl-menuwrapper button {
	height: 30px;
}
.message-list {
	padding: 5px;
	margin: 0 1px;
	background: #efefef;
	cursor: pointer;
	transition: background .1s linear;
}
.message-list:not(:first-child) {
	margin-top: 3px;
}
.message-list:hover {
	background: #d8d8d8;
}
.message-list a {
	text-decoration: none;
	color: #565656;
}
.message-list a div > img.message-avatar {
	display: inline-block;
	margin: auto;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #e3e3e3;
	float:left;
}
.message-list a div > p.message-timestamp {
	font-size: 10px;
	font-weight: bold;
	color: #b1b1b1;
}
.message-list a div  > p.message-user {
	display: inline-block;
	margin-left: 5px;
	font-size: 14px;
	font-weight: bold;
	font-family: "Raleway", sans-serif;
	float: left;
	width: 60%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.message-list a div > p.message-user > span {
	text-transform: capitalize;
}
.message-list a div > p.message-user > span:not(:last-child):after {
	content: ", ";
	height: auto;
	width: auto;
	font-size: 14px;
}
.message-list a div > p.message-subject {
	font-size: 14px;
	font-weight: bolder;
	width: 100%;
	margin: 3px 0 0 0;
	font-family: "Raleway", sans-serif;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.message-list a  div > p.message-last-reply {
	font-size: 12px;
	width: 100%;
	margin: 3px 0 0 0;
	font-family: "Raleway", sans-serif;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.message-new-wrapper {
	margin-bottom: 5px;
	text-align: center;
}
.message-new-wrapper > p {
	color: #bdbdbd;
	font-weight: bold;
	font-family: "Raleway", sans-serif;
	display: inline-block;
	margin: 5px 0;
	user-select: none;
}
.new-thread-btn {
	font-family: "Raleway", sans-serif;
	background: #ff8a00;
	color: white;
	transition: background .1s linear;
	font-weight: 700;
}
.new-thread-btn:hover {
	color: white;
	background: #ec8000;
}

.new-message-wrapper .message-to-wrapper > span.message-to-placeholder{
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 2px 5px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	color: #cccccc;
}
.new-message-wrapper .message-to-wrapper > input[name="to_id"] {
	padding: 0 35px;
}
.message-body-wrapper > .message-content {
	min-height: 100px;
	width: 83%;
	display: block;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
[contenteditable=true]:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
[contenteditable=true]:empty:before {
  content: attr(placeholder);
}
.message-body-wrapper {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.message-body-wrapper > .message-commands {
	display: block;
	position: relative;
	top: -37px;
	right: 5px;
}
.images-wrapper {
	max-height: 300px;
	overflow-x:hidden;
	overflow-y: auto;
}
.image-wrapper {
	padding: 3px;
	margin: 5px 0
}
.image-wrapper label.image-src{
	border: 6px solid #ff8a00;
	border-radius: 6px;
	height: 80px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.image-wrapper input[type="checkbox"] {
	position: absolute;
	margin: auto;
	right: 10px;
	bottom: 20px;
	transform: scale(1.5);
}
.thread-disclaimer {
	margin-top: 15px;
}
.twitter-typeahead {
	display: block;
	width: 100%;
}
.member-list,
.empty-message {
	background-color: white;
	padding: 10px;
	cursor: pointer;
	color: #131313;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #e6e6e6;
}
.member-list:first-child {
	border-top-left-radius: 10px:
	border-top-right-radius: 10px:
}
.member-list:last-child {
	border-bottom-left-radius: 10px:
	border-bottom-right-radius: 10px:
}
.tt-menu {
	width: 100%;
}
.reply-list {
  display: block;
  position: relative;
	width: 100%;
	height: auto;
	margin: 10px;
}
.reply-list .reply-timestamp {
	color: gray;
	margin
}
.reply-list.left {
	text-align: left;
}
.reply-list.right {
	text-align: right;
}
.reply-list > p.reply-user {
	text-transform: capitalize;
	font-weight: bolder;
	margin: 0;
	font-size: 12px;
	padding: 5px;
}
.reply-list > p.reply-user.right {
	margin: 0 20px 0 0;
}
.reply-list > img.img-avatar {
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	border-radius: 3px;
}
.reply-list > img.img-avatar.left {
	left: 0;
}
.reply-list > img.img-avatar.right {
	right: 20px;
}
.reply-list .talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
	background-color: #ececec;
	display: inline-block;
	word-wrap: break-word;
	max-width: 400px;
}

.reply-list .talktext.left-top {
	margin: 0 10px 0 40px;
}
.reply-list .talktext.right-top {
	margin: 0 60px 0 10px;
}
.reply-list .talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.reply-list .reply-attachments-container .reply-attachment-wrapper img{
	max-width: 100px;
	display: inline-block;
}
.reply-list .reply-attachments-container .reply-attachment-wrapper img:hover {
	filter: blue(4px);
}
.reply-list .tri-right:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	top: 30px;
	bottom: auto;
	border: 10px solid;
}
.reply-list .tri-right.right-top:after{
  left: auto;
	right: 55px;
	border-color: #ececec transparent transparent transparent;
}
.reply-list .tri-right.left-top:after{
  left: 35px;
	right: auto;
	border-color:#ececec  transparent transparent transparent;
}
.new-reply-wrapper {
	bottom: 0;
	position: absolute;
	right: 0;
	left: 0;
	padding: 0 10px;
	margin-bottom: -25px;
}
.messages-container {
	max-height: 470px;
	overflow-x: hidden;
}


	.button_container {
		position: relative;
		top: 5%;
		right: 2%;
		width: 20px;
		cursor: pointer;
		z-index: 99;
		transition: opacity .25s ease;
		margin-top: 15px;

		label {
			span {
				background: $orange;
				border: none;
				height: 3px;
				width: 100%;
				position: absolute;
				top: 0px;
				left: 0;
				transition:  all .35s ease;
				cursor: pointer;
			    
			    &:nth-of-type(2) {
			      top: 5px;
			    }
			    
			    &:nth-of-type(3) {
			      top: 10px;
			    }

			}
		}

		&:hover {
	    	opacity: .7;
	  	}

		&[aria-expanded="true"] {
			label {
				span {
					width: 30%;
					left: 7px;
					height: 20px;
					margin-top: -15px;
				}
			}
		    .top {
		      transform: translateY(10px) translateX(0) rotate(45deg);
		      background: $orange;
		    }
		    .middle {
		      opacity: 0;
		      background: $orange;
		    }
		    
		    .bottom {
		      transform: translateY(0px) translateX(0) rotate(-45deg);
		      background: $orange;
		    }
	 	}
	}

	.dropdown-menu {
		background-color: $nightblue;
		.dropdown-item {
			display: block;
			padding: 10px 150px;
		    color: $white;
		    font-weight: 700;


		    &:hover {
		    	background-color: $orange;
		    }

		    &.active {
		    	background-color: $orange;

		    }

		}
	}

	@media screen and (max-width: 480px) {
		float: right;
		display: block;
	}

	@media screen and (max-width: 410px) {
		float: right;
		display: block;
		label {
			span {
				width: 25%;
			}
		}
	}



