.logo {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.logo img {
	width: 50px;
}

.payment-container {
	padding-bottom: 30px;
}

.box {
	border-radius: 10px;
	background: #f1f1f1;
	padding: 30px;
	-webkit-box-shadow: 0px 6px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 13px -4px rgba(0,0,0,0.75);
}

.box p {
	font-family: 'Raleway', sans-serif;
	margin-bottom: 15px;
}

.orangebtn {
	margin-top: 30px; 
	text-align: center;
}

.orangebtn a {
	color: #fff;
	border-radius: 5px;
	background: #ff931d;
	padding: 10px 30px;
}

.orangebtn a:hover, .orangebtn a:focus {
	text-decoration: none; 
	background: #000;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.small {
	text-align: center;
	font-size: 12px;
}

.master {
	text-align: center;
}

.title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 16px;
	margin-top: 20px;
}

.clear {
	clear: both;
}

.input-p {
	margin-top: 5px;
}

@media screen and (max-width: 1199px) {
	.input-p {

	}

	.bm {
		margin-bottom: 20px;
	}
}