#facility-single .first-row {
	background: #3ac5f7;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.no-padding {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.text-center {
	text-align: center;
}

a:hover, a:focus {
	text-decoration: none;
	outline: 0;
}

#facility-single .title {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 30px;
}

#facility-single .subtitle {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 20px;
}

#facility-single .address {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

#facility-single .miles {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin-top: 20px;
}

#facility-single .title-dark {
	color: #555;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 30px;
}

#facility-single .subtitle-dark {
	color: #555;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 20px;
}

#facility-single .address-dark {
	color: #555;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

#facility-single .miles-dark {
	color: #555;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin-top: 20px;
}

#facility-single .desc-row {
	background: #8b37d7;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#facility-single .med-title {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 25px;
}

#facility-single .med-desc {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

#facility-single .med-title-dark {
	color: #555;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 25px;
}

#facility-single .med-desc-blue {
	color: #00a8ff;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

#facility-single .se-row {
	background: #dff7fe;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#facility-single .disclaimer {
	color: #555;
	margin-bottom: 50px;
}

hr {
	border-bottom: 1px solid #000;
}

.btn-yellow {
	background: #ffa200;
	border-radius: 5px;
	color: #023882;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding: 15px 25px;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.btn-yellow:hover, .btn-yellow:focus {
	background: #000;
	color: #fff;
}

.clear {
	clear: both;
}

.yellow {
	color: #ffa200;
}

.blue {
	color: #00a8ff;
}

@media screen and (max-width: 480px) {
	.img-med {
		width: 60%;
	}
}