.attachment-wrapper {
    padding: 10px;
    margin: 5 7px;

    .file {
        font-size: 14px;
        font-weight: bold;
        color: $darkgrey;
        text-align: center;

        p {
            width: 150px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .image {
        img {
            margin: auto;
        }
    }
}
