@font-face {
	font-family: 'Futura';
	src: url('../fonts/Futura-CondensedMedium.eot');
	src: url('../fonts/Futura-CondensedMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Futura-CondensedMedium.woff2') format('woff2'),
		url('../fonts/Futura-CondensedMedium.woff') format('woff'),
		url('../fonts/Futura-CondensedMedium.ttf') format('truetype'),
		url('../fonts/Futura-CondensedMedium.svg#Futura-CondensedMedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/Futura-Medium.eot');
	src: url('../fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Futura-Medium.woff2') format('woff2'),
		url('../fonts/Futura-Medium.woff') format('woff'),
		url('../fonts/Futura-Medium.ttf') format('truetype'),
		url('../fonts/Futura-Medium.svg#Futura-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/Futura-MediumItalic.eot');
	src: url('../fonts/Futura-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Futura-MediumItalic.woff2') format('woff2'),
		url('../fonts/Futura-MediumItalic.woff') format('woff'),
		url('../fonts/Futura-MediumItalic.ttf') format('truetype'),
		url('../fonts/Futura-MediumItalic.svg#Futura-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/Futura-CondensedExtraBold.eot');
	src: url('../fonts/Futura-CondensedExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Futura-CondensedExtraBold.woff2') format('woff2'),
		url('../fonts/Futura-CondensedExtraBold.woff') format('woff'),
		url('../fonts/Futura-CondensedExtraBold.ttf') format('truetype'),
		url('../fonts/Futura-CondensedExtraBold.svg#Futura-CondensedExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-RegularIt.eot');
	src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-RegularIt.woff2') format('woff2'),
		url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
		url('../fonts/ProximaNova-RegularIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Light.eot');
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light.woff2') format('woff2'),
		url('../fonts/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova-Light.ttf') format('truetype'),
		url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-BoldIt.eot');
	src: url('../fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-BoldIt.woff2') format('woff2'),
		url('../fonts/ProximaNova-BoldIt.woff') format('woff'),
		url('../fonts/ProximaNova-BoldIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic.eot');
	src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Italic.woff2') format('woff2'),
		url('../fonts/OpenSans-Italic.woff') format('woff'),
		url('../fonts/OpenSans-Italic.ttf') format('truetype'),
		url('../fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Light.eot');
	src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Light.woff2') format('woff2'),
		url('../fonts/OpenSans-Light.woff') format('woff'),
		url('../fonts/OpenSans-Light.ttf') format('truetype'),
		url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSansLight-Italic.eot');
	src: url('../fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansLight-Italic.woff2') format('woff2'),
		url('../fonts/OpenSansLight-Italic.woff') format('woff'),
		url('../fonts/OpenSansLight-Italic.ttf') format('truetype'),
		url('../fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans.eot');
	src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans.woff2') format('woff2'),
		url('../fonts/OpenSans.woff') format('woff'),
		url('../fonts/OpenSans.ttf') format('truetype'),
		url('../fonts/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}
