// fonts
$futura: 'Futura', sans-serif;
$proxima: 'Proxima Nova', sans-serif;
$opensans: 'Open Sans', sans-serif;

//colors
$nightblue: #597caa;
$steelblue: #2d589f;
$darkgrey: #444;
$grey: #e9e9e9;
$black: #000;
$orange: #ff8a00;
$white: #fff;
$white-2: #f4f4f4;

//@cath
$primaryblue: #337ab7;
$defaultgrey: #E0E0E0;
$mediumgrey: #757575;
